<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/productCart.css">
        <link rel="stylesheet" href="/css/mediaQ-productCart.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/productDelate.css">
</head>

<body>
    <%- include ('../includes/header.ejs') %>
        <main>
            <section id="fondo">
                <h4> ¿ Seguro que quieres eliminar la publicación ? </h4>
                <picture >
                    <img src="/images/productos/<%= product.imagen%>" alt="">
                </picture>"
                <h4>
                    <%= product.name %>
                </h4>
                <form action="/delete/<%=product.id%>?m=delete" method="post" id="boton">

                    <a href="/finder"><button type="" class="cancelar">No</button></a>

                    <button type="submit" class="borrar">Sí</button>


                </form>
            </section>
        </main>
        <%- include ('../includes/footer.ejs') %>

</body>