<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="stylesheet" href="/css/mediaQ-productDetail.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <%- include ('../includes/header.ejs') %>
        <!-- break  -->
        <main>
            <div id="ruta">
                <h6 class="texto">productos - baño - griferia -</h6>
                <h6 class="ruta__texto ruta__texto--resaltado">
                    <%= product.name %>
                </h6>
            </div>
            <section id="producto">
                <picture id="producto__imagen">
                    <img src="<%= product.imagen %> " alt="">
                </picture>
                <article id="producto__informacion">
                    <h2 id="producto__titulo">
                        <%= product.name %>
                    </h2>
                    <ul id="producto__tabla">
                        <!-- generador -->
                        <% for( let i=0; i < informacion.length; i++ ) { let item=informacion[i] 
                        if(product.information[item]=="" ){ continue } %>
                            <li class="producto__tablaItem">
                                <h3 class="producto__itemsTabla">
                                    <%= informacion[i] %>
                                </h3>
                                <h3 class="producto__infoTabla">
                                    <%= product.information[item] %>
                                </h3>
                            </li>
                            <% } %>
                    </ul>
                    <div id="producto__compra">
                        <h5>Valor Final:</h5>
                        <h3> $ <%= product.price %>
                        </h3>
                        <h4>+ Carrito</h4>
                    </div>
                </article>
            </section>
            <section id="detalles">
                <h3>Detalles del producto</h3>
                <ul id="detalles__navegacion">
                    <% for( let i=0; i < detalles.length; i++ ) { let item=detalles[i] 
                        if(product.detalles[item]=="" ){ continue }%>
                        <li>
                            <%= detalles[i] %>
                        </li>
                        <% } %>
                </ul>
                <article id="detalles__infoDetalle">
                    <picture class="imagen">
                        <img src="<%= product.detalles.esquema %> " alt="">
                    </picture>
                </article>
            </section>
        </main>
        <!-- break -->

        <%- include ('../includes/footer.ejs') %>

            <script src="./scripts/menu.js"></script>
</body>

</html>