<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
        <script defer src="/scripts/menuCrear.js"></script>
        <script defer src="../../scripts/menu.js"></script>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script defer src="/scripts/productEdit.js"></script>
</head>

<body>
    <%- include ('../includes/header.ejs') %>

        <main>
            <section class="back">
                <form action="/products/editForm/<%= product.id %>?m=PUT " method="post" class="formulario"
                    enctype="multipart/form-data">

                    <h2 id="detalle">Editando un producto</h2>
                    <!-- <h2> categorias</h2> 
                        <label for="Categoria">Categoria</label>
                        <select id="categoria" name="categoria" class="formulario_relleno" onchange="populate()"
                            onload="selected(product.categoria)">
                            <option value=""></option>
                            <option value="banio">baño</option>
                            <option value="cocina">cocina</option>
                            <option value="tanques">tanques</option>
                            <option value="calefaccion">calefacción</option>
                            <option value="instalaciones">instalaciones</option>  
                        </select>
                        <label for="subCategoria">SubCategoria</label>
                        <select id="subCategoria" name="subCategoria" class="formulario_relleno"></select>
                    -->

                    <!-- producto -->
                    <h2 class="titulo">Producto</h2>
                    <label for="nombre-producto">Nombres del producto</label>
                    <input class="formulario_relleno" type="text" name="nombre" min="1"
                        value="<%= locals.oldData ? oldData.nombre: product.nombre %>">
                    <p id="nombreError" class="msg-error errors"></p>

                    <% if ( locals.errors && errors.nombre ) { %>
                        <p class="msg-error">
                            <%= errors.nombre.msg %>
                        </p>
                        <% } %>
                            <label for="marca">Marca</label>
                            <input class="formulario_relleno" type="text" name="marca" id="marca" min="1"
                                value="<%= locals.oldData ? oldData.marca: product.marca %>">
                            <% if ( locals.errors && errors.marca ) { %>
                                <p class="msg-error">
                                    <%= errors.marca.msg %>
                                </p>
                                <% } %>
                                    <label class="infodenombres" for="imagenProducto">Imagen del producto</label>
                                    <input class="formulario_relleno" type="file" name="imagenProducto" value="">
                                    <% if (locals.errors && errors.imagenProducto) { %>
                                        <p id="imagenError" class="msg-error errors">
                                            <%= errors.imagenProducto.msg %>
                                        </p>
                                        <% } %>
                                            <label for="description">Descripcion</label>
                                            <textarea class="descripcion" type="textarea"
                                                name="description"><%= product.descripcion %></textarea>
                                            <p id="descripcionError" class="msg-error errors"></p>

                                            <label for="precio">Precio</label>
                                            <input class="formulario_relleno" type="text" name="precio" id="precio"
                                                min="1" value="<%= locals.oldData ? oldData.precio: product.precio %>"
                                                <% if ( locals.errors && errors.precio ) { %>>
                                            <p class="msg-error">
                                                <%= errors.precio.msg %>
                                            </p>
                                            <% } %>

                                                <!-- informacion -->
                                                <h2 class="titulo">Información</h2>
                                                <!-- <label for="usuario">Código</label>
                            <input class="formulario_relleno" type="text" name="Codigo" id="Codigo" min="1" value="" > -->
                                                <label class="infodenombres" for="Linea">Linea</label>
                                                <input class="formulario_relleno" type="text" name="linea" min="1"
                                                    value="<%= locals.oldData ? oldData.linea: product.linea%>">
                                                <label class="infodenombres" for="Colores">Colores</label>
                                                <input class="formulario_relleno" type="text" name="colores" min="1"
                                                    value="<%= locals.oldData ? oldData.colores: product.informacion.colores%>">
                                                <label class="infodenombres" for="Disenio">Diseño</label>
                                                <input class="formulario_relleno" type="text" name="disenio" min="1"
                                                    value="<%= locals.oldData ? oldData.disenio: product.informacion.disenio%>">
                                                <label class="infodenombres" for="Apto">Apto</label>
                                                <input class="formulario_relleno" type="text" name="apto" min="1"
                                                    value="<%= locals.oldData ? oldData.apto: product.informacion.apto%>">
                                                <label for="tecnologia">Tecnologia</label>
                                                <input class="formulario_relleno" type="text" name="tecnologia" min="1"
                                                    value="<%= locals.oldData ? oldData.tecnologia: product.informacion.tecnologia%>">
                                                <label class="infodenombres" for="Apto">Configuracion</label>
                                                <input class="formulario_relleno" type="text" name="configuracion"
                                                    min="1"
                                                    value="<%=locals.oldData ? oldData.configuracion:  product.informacion.configuracion %>">
                                                <label for="nombre-apellido" for="medidas">Medidas</label>
                                                <input class="formulario_relleno" type="text" name="medidas" min="1"
                                                    value="<%= locals.oldData ? oldData.medidas: product.informacion.medidas %>">
                                                <label for="nombre-apellido" for="capacidad">Capacidad</label>
                                                <input class="formulario_relleno" type="text" name="capacidad" min="1"
                                                    value="<%= locals.oldData ? oldData.capacidad: product.informacion.capacidad %>">

                                                <!-- detalles -->
                                                <!-- <h2 class="titulo">Detalles</h2> -->
                                                <!-- 
                        <label for="nombre-apellido">Documento</label>
                        <input class="formulario_relleno" type="text" name="documento" min="1"
                        <label class="infodenombres" for="grafico">Grafico</label>
                        <input class="formulario_relleno" type="file" name="grafico" min="1" value="">
                        <label class="infodenombres" for="esquema">Esquema</label>
                        <input class="formulario_relleno" type="file" name="esquema" value="">-->
                                                <div id="boton">
                                                    <button type="" class="Cancelar"><a href="/">Cancelar</a></button>
                                                    <button type="submit" class="botonform">Editar</button>
                                                </div>
                </form>
            </section>



        </main>
        <%- include ('../includes/footer.ejs') %>
</body>