<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
</head>

<body>

    <%- include ('../includes/header.ejs') %>

        <main>

            <% if (user ) { %>

                <article class="perfil_container">

                    <h2>Perfil de Usuario</h2>
                    <picture class="perfil_imagen">
                        <img src="/images/avatars/<%= user.imagen.nombre %>" alt="">
                    </picture>

                    <h4>
                        <%= user.nombre %>
                    </h4>

                    <section class="perfil_datos">
                        <p> <i class="fa-solid fa-envelope"></i>
                            <%= user.email%>
                        </p>
                        <p> <i class="fa-solid fa-phone"></i>
                            <%= user.telefono%>
                        </p>
                        <p><i class="fa-solid fa-house"></i>
                            <%= user.ubicacion %>
                        </p>
                        <p> 
                            <i class="fa-solid fa-cart-shopping"></i>
                            <a href="/carrito">Mi carrito</a>
                        </p>
                        <p>
                            <i class="fa-solid fa-user-pen"></i>
                            <a href="/users/userEdit">Edición de usuario</a>
                        </p>

                         <p id="btn-danger">
                                <i class="fa-solid fa-trash"></i>
                                <a href="/users/deleteConfirm" id="btn-danger">Eliminar usuario</a>
                        </p>

                    </section>
                </article>
                <% } %>
        </main>

        <%- include ('../includes/footer.ejs') %>
            <script src="../../scripts/menu.js"></script>
</body>

</html>