<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>
    <script defer src="/scripts/validations/userEditValidation.js"></script>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
</head>

<body>
    <%- include ('../includes/header.ejs') %>
        <main>

            <article class="formulario_contenido">

                <h5> Edición de usuario</h5>


                <picture id="imagen_cotenido">
                    <img src="/images/avatars/<%= user.imagen.nombre %>" alt="" id="img">
                </picture>

                <form action="/users/editConfirm?m=PUT" id="form" method="post" enctype="multipart/form-data">


                    <label for="nombre">Nombre</label>

                    <input type="text" name="nombre" id="relleno" placeholder="nombre" value="<%= locals.oldData ? oldData.nombre: user.nombre %>">
                    <% if ( locals.errors && errors.nombre ) { %>
                        <p class="msg-error">
                            <%= errors.nombre.msg %>
                        </p>
                    <% } %> 
                    <p id="nombreError" class="msg-error errors"></p>
                        
                    <label for="apellido">Apellido</label>

                    <input type="text" name="apellido" id="relleno" placeholder="apellido" value="<%= locals.oldData ? oldData.nombre: user.apellido %>">
                    <% if ( locals.errors && errors.apellido ) { %>
                        <p class="msg-error">
                            <%= errors.apellido.msg %>
                        </p>
                        <% } %>
                    <p id="apellidoError" class="msg-error errors"></p>

                    <label for="telefono">Telefono/celular</label>

                    <input type="number" name="telefono" id="relleno" placeholder="Telefono/celular"
                        value="<%= user.telefono%>">

                    <label for="ubicacion">Ciudad de residencia</label>

                    <input type="text" name="ubicacion" id="relleno" value="<%= user.ubicacion %> ">

                    <label for="avatar">Imagen de perfil</label>

                    <input type="file" id="avatar" name="file">
                    <% if (locals.errors && errors.avatar) { %>
                        <p class="msg-error"> <%= errors.avatar.msg %> </p>
                    <% } %>
                    <p id="fileError" class="msg-error errors"></p>

                    <label for="imagen">eliminar foto</label>
                    <input class="checkbox" type="checkbox" id="imagen" name="eliminarImagen"
                    value=true>
                    
                    <div id="boton">
                        <button type="" class="reset"><a href="/">Cancelar</a></button>
                        <button type="submit" class="botonform">Editar</button>
                    </div>
                </form> 


            </article>





        </main>

        <%- include ('../includes/footer.ejs') %>
</body>

</html>