<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>

</head>

<body>
    <%- include ('../includes/header.ejs') %>

        <main>




            <article class="formulario_contenido">

                <h5> Edición de usuario</h5>

                <p> datos del perfil</p>
                <picture id="imagen_cotenido">
                    <img src="/images/avatars/<%= user.imagen.nombre %>" alt="" id="img">
                </picture>

                <form action="/users/editConfirm?m=PUT" id="form" method="post" enctype="multipart/form-data">


                    <label for="nombre">nombre</label>

                    <input type="text" name="nombre" id="relleno" placeholder="nombre" value="<%= user.nombre%>">


                    <label for="telefono">Telefono/celular</label>

                    <input type="number" name="telefono" id="relleno" placeholder="Telefono/celular"
                        value="<%= user.telefono%>">

                    <label for="ubicacion">ciudad de residencia</label>

                    <input type="text" name="ubicacion" id="relleno" value="<%= user.ubicacion %> ">

                    <label for="imagenId">imagen de perfil</label>

                    <input type="file" id="relleno" name="imagenId">
                <!---<nav id="btn">
                        <button type="" class="resete"><a href="/">Cancelar</a></button>
                        <button type="submit" class="editar">Editar</button>
                    </nav>---> 
                    <div id="boton">
                        <button type="" class="Cancelar"><a href="/">Cancelar</a></button>
                        <button type="submit" class="botonform">Editar</button>
                    //// agregar apellido 
                    </div>
                </form>


            </article>




        </main>

        <%- include ('../includes/footer.ejs') %>
</body>

</html>