<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../includes/head.ejs') %>

</head>

<body>
    <%- include ('../includes/header.ejs') %>

        <main>


           

            <article class="formulario_contenido">

                <h5> Edición de usuario</h5>


                <picture id="imagen_cotenido">
                    <img src="/images/avatars/<%= user.imagen.nombre %>" alt="" id="img">
                </picture>

                <form action="/users/editConfirm?m=PUT" id="form" method="post" enctype="multipart/form-data">


                    <label for="nombre">Nombre</label>

                    <input type="text" name="nombre" id="relleno" placeholder="nombre" value="<%= user.nombre%>">
                    <label for="nombre">Apellido</label>

                    <input type="text" name="apellido" id="relleno" placeholder="apellido" value="<%= user.apellido%>">


                    <label for="telefono">Telefono/celular</label>

                    <input type="number" name="telefono" id="relleno" placeholder="Telefono/celular"
                        value="<%= user.telefono%>">

                    <label for="ubicacion">Ciudad de residencia</label>

                    <input type="text" name="ubicacion" id="relleno" value="<%= user.ubicacion %> ">

                    <label for="imagenPerfil">Imagen de perfil</label>

                    <input type="file" id="ImagenPerfil" name="imagenId">
                    
                    <div id="boton">
                        <button type="" class="reset"><a href="/">Cancelar</a></button>
                        <button type="submit" class="botonform">Editar</button>
                    </div>
                </form>


            </article>





        </main>

        <%- include ('../includes/footer.ejs') %>
</body>

</html>